<p id="notice"><%= notice %></p>

<h1>Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td>
          <% if attachment.asset.attached? %>
            <%= image_tag url_for(attachment.asset.variant(resize: "50x50").processed) %>
          <% else %>
            No Attachment
          <% end %>
        </td>
        <td><%= attachment.name %></td>
        <td><%= link_to 'Show', nested_helper_url(resource_name: "attachments", action: :show, behaveable: @behaveable, resource: attachment) %></td>
        <td><%= link_to 'Edit', nested_helper_url(resource_name: "attachments", action: :edit, behaveable: @behaveable, resource: attachment) %></td>
        <td><%= link_to 'Destroy', attachment, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_attachment_path %>
